.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.nav-container svg {
  color: gray;
}

.link-button {
  color: gray;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  outline: none;
}

.link-button:hover,
.link-button:focus {
  text-decoration: underline;
}
