.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.ant-breadcrumb-link {
  color: gray;
}

.ant-breadcrumb-link:hover {
  color: #1890ff;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  margin-left: 4px;
  padding: 0;
  outline: none;
}
